#breadcrumbs { border-bottom: 1px solid #ccc; background-color: #fff; line-height: 20px; overflow: auto; font-size: 11px; font-weight: bold; }

#breadcrumbs li { list-style-type: none; padding: 0; margin: 0; float: left; padding-left: 8px;}

#info {
  background-color: #777777;
  border: 1px solid #333333;
  float: right;
}

dt {
  width: 200px;
  float: left;
}

